body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f6f8fa;
    color: #24292f;
  }
  
  main,.price-tags, .add{
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
  }
  .addons-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  main{
    text-align: center;
  }
  .starting-at{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin: auto;
    color: gray;
  }
  h1, h2 {
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
  }
  h6{
    font-size: 1em;
  }
  main p {
    text-align: center;
    color: #57606a;
    line-height: 1.6;
  }
  #start {
    display: inline-block;
    background: black;
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 20px;
    
  }
  
  #start:hover {
    background: #333;
  }
  .box {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .firstbox,
.secondbox,
.thirdbox {
  background: white;
  border: 1px solid #d0d7de;
  border-radius: 10px;
  padding: 25px;
  width: 320px;

  display: flex;
  flex-direction: column;
}

.firstbox h3,
.secondbox h3,
.thirdbox h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}


.card-info {
  color: #57606a;
  font-size: 0.9rem;
  margin-bottom: 15px;
}
.price {
    font-size: 1.8rem;
    margin: 15px 0;
  }
  
  .sup {
    font-size: 0.8rem;
    vertical-align: super;
    margin: 0 5px;
    color:gray;
  }
  .button {
    display: block;
    text-align: center;
  
    background: black;
    color: white;
    text-decoration: none;
  
    padding: 10px;
    border-radius: 6px;
    margin: 15px 0;
  }
  
  .button:hover {
    background: rgb(91, 88, 88);
  }
  ul {
    padding-left: 20px;
    margin: 15px 0;
  }
  
  li {
    margin-bottom: 8px;
    font-size: 0.9rem;
  }
  .adds-on {
    font-size: 1rem;
    color: #0969da;
    margin: 20px 0 10px;
  }
  .small-text {
    font-size: 0.75rem;
    color: #8c959f;
  }
  
  
  .addon-card {
    background: white;
    padding: 20px;
    border: 1px solid #d0d7de;
    border-radius: 8px;
  }
  .addon-card:hover{
    border: 2px solid #d0d7de;
    border-radius: 8px;
  }
  .learn-more {
    margin-top: 10px;
    color:black;
    font-size: 1em;
    font-weight: bold;
    border: none;
    background-color: white;
  }
  
  h3,
  .card-info,
  .price{
    text-align: center;
  }
  .button-white{
    display: block;
    text-align: center;
    border: 1px solid gray;
    background: white;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 6px;
    margin: 15px 0;
  }
  .button-white:hover{
    border: 2px solid black;
  }
  .button-group{
    display:flex;
    gap:10px;
    padding: 22px;
  }
 
  .adds-info{
    color:gray;
  }
