html, body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
#logo{
    position: absolute;
    left:3%;
    top:5%;
}
.left{
    position: absolute;
    left:10%;
    top:15%;
    font-size: 1.2em;
    
    
}
#Header1{
    text-align: center;
    font-weight: 300;
    font-size: 2em;
    line-height: 1.2;
    
    margin-bottom: 20px;
    
}
.highlight{
    background: linear-gradient(to right, orange, purple); 
  -webkit-background-clip: text; 
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  
}
#image{
    position: absolute;
    width: 88%;
}
.vline {
    width: 2px;              
    height: 90%;           
    background-color: #eeeeee; 
    position: absolute;
    left:55%;
  }
.hline {
    width: 100%;              
    height: 2px;           
    background-color: #eeeeee; 
    position: absolute;
    top:91%;
  }
.right{
    position: absolute;
    left: 60%;
    top:20%;
}
#email{
    border:1px solid #eeeeee; 
    border-radius:15px; 
    width: 200%;
    padding: 15px;
    font-size: 1em;
    margin-bottom: 10px;
}
#email:hover{
    border:1px solid lightgrey;
}
#password{
    border:1px solid #eeeeee; 
    border-radius:15px; 
    width: 200%;
    padding: 15px;
    font-size: 1em;
    margin-bottom: 15px;
}
#password:hover{
    border:1px solid lightgrey;
}
#login{
    border:1px solid #eeeeee; 
    border-radius:30px; 
    width: 215%;
    padding: 10px;
    font-size: 1em;
    background-color: hsl(206, 58%, 61%);
    color:white;
}
#forget{
    border:1px solid white; 
    border-radius:15px; 
    width: 200%;
    padding: 15px;
    font-size: 1em;
    margin-bottom: 40px;
    text-align: center;
    color:black;
}
#forgetlink:hover{
    border: 1px solid #eeeeee;
    border-radius: 30px;
    width:200% ;
    padding: 15px;
    font-size: 1em;
    background-color: #eeeeee;
}
#forgetlink:active{
    color:black;
    text-decoration: none;
}
#forgetlink:visited{
    color:black;
    text-decoration: none;
}
#forgetlink:link{
    color:black;
    text-decoration: none;
}
#facebook{
    border:1px solid #eeeeee; 
    border-radius:30px; 
    width: 200%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    text-align: center;
    color:black;
}
#facebooklink:hover{
    border:1px solid #eeeeee; 
    border-radius:30px; 
    width: 200%; 
    padding: 10px; 
    background-color: #eeeeee;
}
#facebooklink:active{
    color:black;
    text-decoration: none;
}
#facebooklink:visited{
    color:black;
    text-decoration: none;
}
#facebooklink:link{
    color:black;
    text-decoration: none;
}
#new{
    border:1px solid rgb(38, 143, 224); 
    border-radius:30px; 
    width: 200%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    text-align: center;
    color:rgb(38, 143, 224);
}
#newlink:hover{
    border:1px solid #eeeeee; 
    border-radius:30px; 
    width: 200%;
    padding: 10px;
    background-color: #eeeeee;
    
}
#newlink:active{
    color:rgb(38, 143, 224);
    text-decoration: none;
}
#newlink:visited{
    color:rgb(38, 143, 224);
    text-decoration: none;
}
#newlink:link{
    color:rgb(38, 143, 224);
    text-decoration: none;
}
#meta{
    border:1px solid white; 
    border-radius:15px; 
    width: 200%;
    padding: 15px;
    font-size: 1em;
    margin-bottom: 40px;
    text-align: center;
    color:black;
}
footer{
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
    font-size: 0.8em;
    color:grey;
}